swagger: "2.0"
info:
  description: API specification for an assignment
  version: 1.0.3
  title: GitHub search
host: api.github.com
basePath: /
schemes:
  - https
tags:
- name: Search
  description: Search related endpoints
paths:
  /search/repositories:
    get:
      tags:
      - Search
      summary: Search for a repository
      description: Find repositories via various criteria
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accept
        in: header
        description: "Setting to application/vnd.github.v3+json is recommended."
        required: true
        type: string
      - name: q
        in: query
        description: "The query contains one or more search keywords and qualifiers."
        required: true
        type: string
      - name: sort
        in: query
        description: "Sorts the results of your query by number of stars, forks, or help-wanted-issues or how recently the items were updated. Default: best match"
        required: false
        type: string
      - name: order
        in: query
        description: "Determines whether the first search result returned is the highest number of matches (desc) or lowest number of matches (asc). This parameter is ignored unless you provide sort. Default: desc"
        required: false
        type: string
      - name: per_page
        in: query
        description: "Results per page (max 100). Default: 30"
        required: false
        type: integer
      - name: page
        in: query
        description: "Page number of the results to fetch. Default: 1"
        required: false
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/SearchResponseDTO'
        "304":
          description: Not modified
        "400":
          description: Invalid input, bad request
        "422":
          description: Validation failed
        "503":
          description: Service unavailable


definitions:
  SearchResponseDTO:
    required:
    - total_count
    - items
    properties:
      total_count:
        type: integer
        example: 40
      items:
        type: array
        items:
          $ref: '#/definitions/SearchResponseItemDTO'
  SearchResponseItemDTO:
    required:
    - id
    - name
    - owner
    - description
    - language
    - stargazers_count
    - url
    properties:
      id:
        type: integer
        example: 3081286
      name:
        type: string
        example: "Tetris"
      owner:
        $ref: '#/definitions/SearchResponseItemOwnerDTO'
      description:
        type: string
        example: "A C implementation of Tetris using Pennsim through LC4"
      language:
        type: string
        example: "Assembly"
      stargazers_count:
        type: integer
        example: 1
      url:
        type: string
        example: "https://api.github.com/repos/dtrupenn/Tetris"
  SearchResponseItemOwnerDTO:
    required:
    - login
    - avatar_url
    properties:
      login:
        type: string
        example: "dtrupenn"
      avatar_url:
        type: string
        example: "https://secure.gravatar.com/avatar/e7956084e75f239de85d3a31bc172ace?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png"
